<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <title>HydrUI Draw</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.15.6/js/jsplumb.min.js"></script>
</head>
<body>
    <main>
        <nav>
            <a href="/home" title="Home"><img class="icon-link" src="{{ url_for('static', filename='img/Home.png') }}" alt="Home"></a>
        </nav>
        <div style="margin-left: 5px;">
            <select id="componentType">
                <option value="Pump">Pump</option>
                <option value="Resistance">Resistance</option>
                <option value="Valve">Valve</option>
                <option value="Pipe">Pipe</option>
                <option value="Splitter">Splitter</option>
                <option value="Mixer">Mixer</option>
                <option value="Reservoir">Reservoir</option>
            </select>
            <button id="addComponent">Add Component</button>
            <button id="solve">Solve</button>
        </div>

        <div id="canvas-container">
            <div id="canvas"></div>
        </div>
    </main>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/draw.js') }}" defer></script>
</body>
</html>
